<footer>
    <h2>&copy; 2023 Golf Courses</h2>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/pets">Courses</a></li>
            <li><a href="#">My Courses</a></li>
        </ul>
    </nav>
</footer>
