<footer>
    <h2>&copy; 2023 Golf Lounge</h2>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/pets">Courses</a></li>
            <li><a href="#">Add Courses</a></li>
            <li><a href="/reviews">Course Reviews</a></li>
        </ul>
    </nav>
</footer>
