<header>
    <img src="/assets/GolfLoungeLogo.jpg">
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/courses">Courses</a></li>
            <li><a href="/creations/creationDetails.ejs">My Courses</a></li>
            <li><a href="/reviews">Course Reviews</a></li>
        </ul>
    </nav>
</header>
