<header>
    <h1>Golf Courses</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/courses">Courses</a></li>
            <li><a href="/views/creations/creationDetails.ejs">My Courses</a></li>
        </ul>
    </nav>
</header>
