<header>
    <h1>Golf Lounge</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/courses">Courses</a></li>
            <li><a href="/courses/new">Add Courses</a></li>
        </ul>
    </nav>
</header>
