body {
    background-color: #242325;
    display: flex;
    justify-content: center;
    align-items: center;
}

.glassy {
    text-align: center;
    background-color: black;
    padding: 3rem;
    height: 90vh;
    width: 60vw;
    min-height: 300px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

h1 {
    font-size: calc(36px + 2vw);
    color: white;
}

p,
a {
    font-size: calc(20px + 0.5vw);
    text-decoration: none;
    margin-top: 2rem;
}

p {
    color: #823329;
}

a {
    margin-top: auto;
}

img {
    height: auto;
    width: 100%;
}