body {
    font-family: Arial, sans-serif;
    background-color: #141414;
}

h1 {
    text-align: center;
    margin-top: 20px;
    background-color: black;
    color: white;
}

form {
    width: 60%;
    min-width: 300px;
    margin: 0 auto 2rem auto;
    background-color: #242325;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: bold;
    color: white;
}

input[type="text"],
input[type="number"],
textarea,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: transparent;
}

textarea {
    height: 100px;
}

input[type="submit"] {
    background-color: #C8C8C8;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #823329;
    color: white;
    border: 1px solid #333;
}

#name {
    color: white;
}

#description {
    color: white;
}

#photo {
    color: white;
}

#state {
    color: white;
}

#city {
    color: white;
}

#difficulty {
    color: white;
}

#price {
    color: white;
}

#rating {
    color: white;
}

.nav header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 1rem;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.nav header h1 {
    color: white;
}

.globalNav header {
    font-size: 2.5rem;
    background-color: #141414;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.globalNav header h1 {
    font-size: 1rem;
    color: rgba(355, 355, 355, 0.6);
    background-color: #141414;
}