.about {
    background-color: #242325;
    padding: 2rem;
}

.about h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #C8C8C8;
}

.about p {
    margin-bottom: 1rem;
    color: #C8C8C8;
}

.featured-courses {
    background-color: #302f31;
    padding: 2rem;
}

.featured-courses h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    background-color: #302f31;
}

.course-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    margin-top: 2rem;
}

.course-grid li {
    width: calc(33% - 1rem);
    min-width: 300px;
    margin-bottom: 2rem;
    background-color: #302f31;
    border-radius: 5px;
    overflow: hidden;
}

.course-grid img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

figure {
    height: 70%;
}

figcaption {
    height: 30%;
    padding: 1rem 2rem 0 2rem;
    display: flex;
    align-items: center;
    text-align: left;
    justify-content: space-between;
}

.featured-info h3 {
    font-size: calc(0.8rem + 0.5vw);
    color: #DC965A;
}

.featured-info p {
    font-size: calc(0.5rem + 0.5vw);
    color: #DC965A;
}

figcaption .btn {
    border: 1px solid transparent;
    border-radius: 100%;
    height: 30%;
    width: 10%;
}
