.nav header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 1rem;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.nav header h1 {
    color: white;
}

.globalNav header {
    font-size: 2.5rem;
    background-color: #141414;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.globalNav header h1 {
    font-size: 1rem;
    color: rgba(355, 355, 355, 0.6);
}

form {
    background-color: #242325;
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    color: white;
}

.hero {
    background-color: #141414;
}

input[type="text"],
input[type="number"],
textarea,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: transparent;
}

textarea {
    margin-bottom: 5px;
}

.createButton {
    background-color: #C8C8C8;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 5px;
}

.createButton:hover {
    background-color: #823329;
    color: white;
    border: 1px solid #333;
}

h2 {
    background-color: #141414;
}

#name {
    color: white;
}

#description {
    color: white;
}

#photo {
    color: white;
}

#state {
    color: white;
}

#city {
    color: white;
}

#difficulty {
    color: white;
}

#price {
    color: white;
}

#rating {
    color: white;
}