body {
    font-family: Arial, sans-serif;
    background-color: #242325;
}

h2 {
    text-align: center;
    margin-top: 20px;
    background-color: #141414;
    color: white;
}

form {
    width: 60%;
    min-width: 300px;
    margin: 0 auto 2rem auto;
    background-color: #242325;
}

label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: bold;
    color: white;
}

input[type="text"],
input[type="number"],
textarea,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: transparent;
}

textarea {
    height: 100px;
}

input[type="submit"] {
    background-color: #C8C8C8;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #823329;
    color: white;
    border: 1px solid #333;
}

#reviewerName {
    color: white;
}

#reviewDescription {
    color: white;
}

#reviewerTitle {
    color: white;
}

#reviewRating {
    color: white;
}

#city {
    color: white;
}

#difficulty {
    color: white;
}

#price {
    color: white;
}

#rating {
    color: white;
}

.hero {
    background-color: #141414;
}

i {
    color: white;
}

.courseName {
    color: #DC965A;
}